<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
       <table class="table table-striped">
          <tr> <th>Id</th><th>Nom</th> <th>Prix</th>  <th>Date Création</th> </tr>
                <tbody *ngFor="let instrument of instruments">
                         <tr >
                            <td>{{instrument.idInstrument}}</td>
                            <td>{{instrument.nomInstrument}}</td>
                            <td>{{instrument.prixInstrument}}</td>
                            <td>{{instrument.dateCreation | date:'dd/MM/yyyy'}}</td>
                          </tr>
                 </tbody>
      </table>
      </div>
    </div>
  </div>
